@media screen and (min-width: 1024px ) {
    body {
        background-color: red;
    }
}

@media screen and (max-width: 1024px ) and (min-width: 600px) {
    body {
        background-color: rgb(32, 7, 175);
        }
    }

@media screen and (max-width: 600px ) and (min-width: 320px) {
    body {
        background-color: rgb(241, 206, 8);
        }
    }